@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?43yz8w');
  src:  url('fonts/icomoon.eot?43yz8w#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?43yz8w') format('truetype'),
    url('fonts/icomoon.woff?43yz8w') format('woff'),
    url('fonts/icomoon.svg?43yz8w#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e900";
  color: #1877f2;
}
.icon-instagram:before {
  content: "\e901";
  color: #e4405f;
}
.icon-liberapay:before {
  content: "\e902";
  color: #f6c915;
}
.icon-mastodon:before {
  content: "\e903";
  color: #3088d4;
}
.icon-medium:before {
  content: "\e904";
}
.icon-twitter:before {
  content: "\e905";
  color: #1da1f2;
}
.icon-edit:before {
  content: "\f044";
}
.icon-pencil-square-o:before {
  content: "\f044";
}
.icon-check-circle:before {
  content: "\f058";
}
.icon-flask:before {
  content: "\f0c3";
}
.icon-paperclip:before {
  content: "\f0c6";
}
.icon-chevron-circle-right:before {
  content: "\f138";
}
